feature-wrapper {
}

#marquee {
	width: 100%;
  height:30px;
  overflow: hidden;
  position: relative;
}
#marquee p {
  position: absolute;
  /* changed the width to be 100% */
  width: 100%;
  height: 100%;
  font-size:13px;
  line-height: 20px;
	margin: 0;
	line-height: 30px;
  /* changed the text-align to be left */
  text-align: left;
  white-space:nowrap;
  transform: translateX(100%);
  animation: scroll-left 100s linear infinite;
  animation-delay : -49s;
}  

@-moz-keyframes scroll-left {
  0% {
    -moz-transform: translateX(100%);
  }
  100% {
    -moz-transform: translateX(-100%);
  }
}

@-webkit-keyframes scroll-left {
  0% {
    -webkit-transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
  }
}

@keyframes scroll-left {
  0% {
    -moz-transform: translateX(100%);
    /* Browser bug fix */
    
    -webkit-transform: translateX(100%);
    /* Browser bug fix */
    
    transform: translateX(100%);
  }
  100% {
    -moz-transform: translateX(-100%);
    /* Browser bug fix */
    
    -webkit-transform: translateX(-100%);
    /* Browser bug fix */
    
    transform: translateX(-100%);
  }
}

.main {
  position: relative;
  width: 60%;
  height: 100%;
  margin: 1rem auto 1rem auto;

}

li a:link, li a:visited {
    text-decoration: none;
}

li a:hover, li a:active  {
    text-decoration: underline;
}

/* #company {
    position: relative;
}

#companyImage {
    position: absolute;
    left: 0;
    top: 0.5rem;
    width: 5rem;
}

#companyName {
    position: absolute;
    left: 6rem;
    top: 0;
}

#companyDescription {
    position: absolute;
    left: 0;
    top: 12rem;
}

#companyLink {
    position: absolute;
    right: 0;
    top: 5rem;
    display: none;
}

#companyStockPrice {
    position: absolute;
    left: 0;
    top: 7rem;
    font-size: larger;
    font-weight: bold;
    display: inline-block;
}

#companyStockPercentages {
    font-size: larger;
    font-weight: bold;
}

.myChart-container {
    position: absolute;
    left: 0;
    top: 12rem; 
    width: 95%;
}

#myChart {
    position: absolute;
    left: 0;
    top: 15rem;
} */